table {
  border-collapse:separate;
  width: 100%;
}

table thead {
  color: white;
  background-color:rgba(0, 0, 0, 0.2);
  font-weight: bold;
  padding: 10px;
}

table tbody tr td {
  color: white;
}

.films {
  line-height: 1%;
}
