.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
}

.title {
  background-image: url(../images/logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 25vw;
  height: 45vh;
  transform: translate(0px, -60px);
}

.border-title-1 {
  position: absolute;
  transform: rotate(30deg);
  box-sizing: border-box;
  width: 40vw;
  height: 40vw;
  border: 1px solid #fae60a4d;
  border-radius: 500px;
  transform: translate(0px, -60px);
}

.border-title-2 {
  position: absolute;
  transform: rotate(-180deg);
  box-sizing: border-box;
  width: 30vw;
  height: 30vw;
  border: 1px solid #ffffff3c;
  border-radius: 500px;
  transform: translate(0px, -60px);
}
